# ---------- GCP ----------
# Replace these with your own GCP project settings
GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=your_gcp_region
GCS_BUCKET=your-gcs-bucket-name

# ---------- BigQuery ----------
BQ_RAW_DATASET=uk_ev_raw
BQ_ANALYTICS_DATASET=uk_ev_analytics

# ---------- Local paths ----------
LOCAL_RAW_DIR=tmp/raw
LOCAL_PREPARED_DIR=tmp/prepared

# ---------- Source URLs ----------
BANK_OF_ENGLAND_EUR_GBP_FX_URL="https://www.bankofengland.co.uk/boeapps/database/fromshowcolumns.asp?Travel=NIxAZxRSxSUx&FromSeries=1&ToSeries=50&DAT=ALL&FNY=&CSVF=TT&html.x=183&html.y=18&C=C8J&Filter=N#"
EUROPEAN_WHOLESALE_ELECTRICITY_PRICES_URL="https://files.ember-energy.org/public-downloads/price/outputs/european_wholesale_electricity_price_data_monthly.csv"
DESNZ_PETROLEUM_PRODUCTS_PRICES_URL="https://assets.publishing.service.gov.uk/media/699c5d8931713b50fd49c045/table_411_413__6_.xlsx"
DVLA_VEH1103_URL="https://assets.publishing.service.gov.uk/media/696641a696e60a090ce2000a/veh1103.ods"
DVLA_VEH1153_URL="https://assets.publishing.service.gov.uk/media/696641a699fbdc498faecd93/veh1153.ods"

# ---------- Kestra ----------
# Use these credentials to log into the Kestra UI unless you change them
KESTRA_ADMIN_EMAIL=kestra@kestra.com
KESTRA_ADMIN_PASSWORD=Kestra1234
KESTRA_ADMIN_NAME=kestra@kestra.com
